# Thư mục báo cáo của Playwright
/playwright-report/

# Kết quả test (chứa video, trace,...)
/test-results/

# Thư mục chứa ảnh chụp màn hình làm bằng chứng
/evidence/

# Thư viện và các file môi trường
/node_modules/
.env
.DS_Store